body {
  overflow-x: hidden;
   background-color: #212529;
   color: white;
 }
  .body{
    background-color: #212529;
  }

/* ===== NAVBAR ===== */
.navbar {
  padding: 12px 30px;
}

.navbar .btn {
  margin-left: 10px;
}

/* ===== BANNER ===== */
.card-img {
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}

/* ===== HEADING & TEXT ===== */
h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  color: #bcbcbc;
  line-height: 1.6;
}

/* ===== PRODUCT CARD ===== */
.card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #212529;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}










































/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;   /* vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-heading-weight: 700;
  --font-text-weight: 400;

  --font-secondry: 'Montserrat';
  --font-text-weight: 200;
}

html {
  scroll-behavior: smooth;
}

